* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#main-body {
    background-color: rgb(38, 70, 83);
}
#main-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    background-color: rgb(42, 157, 143);
}
#main-nav-ul-left, #main-nav-ul-right {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 25px;
}
#home, #classroom, #assignments, #mail, #lessons, #contacts, #myaccount, #login, #register, #logout {
    text-decoration: none;
    padding: 20px;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
}
